.sing-up {
  display: flex;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: #202020;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.sing{
   
    width: 400px;
    background: #303030;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px  1px 1px 10px  rgb(255, 255, 255);
    color: aliceblue;
    
  
}
.form-input input {
    border: none;
    border-radius: 5px;
    margin-bottom:20px ;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    outline: none;
    margin-top: 15px;
    border-radius: 5px;

}
.form-input{
    margin-top: 40px;
}

.sing input{
  width: 100%;
  padding: 10px 20px;  
 
  color: rgb(179, 0, 0);
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  -webkit-border-redius:5px;
  -moz-border-redius:5px;
  -ms-border-redius:5px;
  -o-border-redius:5px;
   margin-top: 30px;

}
.sing-up a{
    text-decoration: none;
    color: aliceblue;
  
}